<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión - K&J </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="video-background">
    <video autoplay muted loop>
      <source src="{{ url_for('static', filename='public/fondo_carros.mp4')}}" type="video/mp4">
      Tu navegador no soporta videos HTML5.
    </video>
  </div>

  <a href="{{ url_for('inicio') }}" class="back-button">⟵ Volver</a>
  <a href="{{ url_for('registro') }}" class="register-button">Registrarse</a>

  <div class="login-container">
    <h1>Bienvenido a <span>K & J</span></h1>

    <!-- Selector de tipo -->
    <div class="tipo-selector">
      <button type="button" class="tipo-btn active" id="btn-usuario">Usuario</button>
      <button type="button" class="tipo-btn" id="btn-socio">Socio</button>
    </div>

    <form class="login-form" action="/sitio/iniciarSesion" method="post">
      <input type="hidden" name="tipo_usuario" id="tipo_usuario" value="usuario">
      <input type="email" placeholder="Correo electrónico" name="correo" required>
      <input type="password" placeholder="Contraseña" name="contraseña" required>
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
  {% endwith %}

  <script>
    const btnUsuario = document.getElementById('btn-usuario');
    const btnSocio = document.getElementById('btn-socio');
    const inputTipo = document.getElementById('tipo_usuario');

    btnUsuario.addEventListener('click', () => {
      inputTipo.value = 'usuario';
      btnUsuario.classList.add('active');
      btnSocio.classList.remove('active');
    });

    btnSocio.addEventListener('click', () => {
      inputTipo.value = 'socio';
      btnSocio.classList.add('active');
      btnUsuario.classList.remove('active');
    });
  </script>
</body>
</html>
