<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión - AutoRed</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="video-background">
    <video autoplay muted loop>
      <source src="{{ url_for('static', filename='public/fondo_carros.mp4')}}" type="video/mp4">
      Tu navegador no soporta videos HTML5.
    </video>
  </div>

  <!-- Botón para volver al inicio -->
  <a href="{{ url_for('inicio') }}" class="back-button">⟵ Volver</a>

  <div class="login-container">
    <h1>Bienvenido a <span>K & J</span></h1>
    <form class="login-form">
      <input type="email" placeholder="Correo electrónico" required>
      <input type="password" placeholder="Contraseña" required>
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</body>
</html>
